<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
<title th:text="${tag.name}"></title>
<link rel="stylesheet" type="text/css" href="../static/css/review.css"
	th:href="@{/css/review.css}" />
</head>
<body>
	<h1 th:text="${tag.name}"></h1>
	<hr />
	<div class="review" th:each="review: ${tag.reviews}">
		<ul>
			<li><a th:href="@{/review(id=${review.Id})}">

					<h4 class="title" th:text="${review.title}"></h4>
			</a></li>
		</ul>
	</div>
	<a href="http://localhost:8080/show-reviews">Back to all reviews</a>
	<a href="http://localhost:8080/show-tags">See all tags</a>

</body>
</html>